<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912281763788-ed64dklvegp79qippq4ls0tmfab52b5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912281763788-ed64dklvegp79qippq4ls0tmfab52b5l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>912281763788-lkiljamaimpi4511tj9e0itdnc9h0msf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-dfsmcMJUUubVjDSOZz3SmjfUzbYgwqA</string>
	<key>GCM_SENDER_ID</key>
	<string>912281763788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toutixapp2</string>
	<key>PROJECT_ID</key>
	<string>mobilepipe-ba83f</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilepipe-ba83f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912281763788:ios:96eb555717ea39330a6769</string>
</dict>
</plist>